
/* Mobile-first responsive design */

/* src/component/FixedButton.css */

.contact-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fcab26; /* Yellow */
  color: #422110; /* Brown */
  border: 3px solid #521d02;
  padding:4px;
  padding: 10px;
  filter: brightness(110%);
  border-radius: 10px;
  display: none;
  opacity: 1.0;
  align-items: center;
  z-index: 5;
}

.contact-button a {
  color: #422110; /* Brown */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
